@import 'config';
@import url(https://fonts.googleapis.com/css?family=Raleway);
@import 'menu-nav';
@import 'home';
h2 {
  vertical-align: center;
  text-align: center;
}

html, body {
  margin: 0;
  height: 100%;
  background: $primary-color;
}
nav {
  font-family: "Raleway";
  * {
  box-sizing: border-box;
  }
}
